@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Style for the entire body */
body {
    /* font-family: Arial, sans-serif; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    /* Use min-height instead of height */
    margin: 0;
}

/* Style for the sign-up form container */
.password-form {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 20px;
    /* Add margin to separate from the next div */
}

.password-form h1 {
    font-size: x-large;
}

.password-form h4 {
    font-size: medium;
}

#email_error{
    background-color: rgba(255, 0, 0, 0.1);
    color: red;
    display: none;
    border: 1px solid red;
    border-radius: 3px;
    font-size: 14px;
}

#email_error {
    margin-bottom: 10px;
}

/* Style for the form fields and button */
.form-input {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 5px;
}

.form-button {
    background-color: #1b2069;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #262c8a;
}

.logo {
    /* Adjust margin as needed */

    margin-top: 20px;
    /* Adjust margin as needed */
}

/* Style for the last div */
.last-div {
    text-align: center;
    margin-top: auto;
}

/* Add styles for flash messages */

.flash-message {
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
}

.flash-btn {
    background-color: transparent;
    color: white;
    border: 1px solid #262c8a;
    border-radius: 2px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.flash-btn:hover {
    background-color: #262c8a;
    color: white;
}

.flash-message.success {
    background-color: #1b2069;
    /* Green */
}

.flash-message.error {
    background-color: #f44336;
    /* Red */
}

/* Add more styles for different categories if needed */


@media(max-width: 800px) {
    .password-form {
        max-width: 300px;
        max-height: fit-content;
    }

    .flash-container {
        /* position: fixed;
        top: 20px;
        right: 20px; */
        max-width: 350px;
    }

    .form-input,
    #email_error {
        font-size: 12px;
    }

    .form-button {
        font-size: 12px;
    }

    .password-form h1 {
        font-size: medium;
    }

    .password-form h4 {
        font-size: smaller;
    }

    .flash-message{
        width: 100%;
        max-width: 350px;
        font-size: smaller;
    }
    .flash-btn{
        font-size: smaller;
    }

    * {
        font-size: 14px;
    }
}