

#cpassword_error{
    background-color: rgba(255, 0, 0, 0.1);
    color: red;
    display: none;
    border: 1px solid red;
    border-radius: 3px;
    font-size: 14px;
}

.flash-btn-success {
    background-color: var(--light-green);
    color: white;
    border: 2px solid;
    border-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.flash-btn-success:hover {
    background-color: var(--green);
}

.flash-btn-error {
    background-color: #f44336;;
    color: white;
    border: 2px solid;
    border-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.flash-btn-error:hover {
    background-color: #ff1100;;
}

@media(max-width: 800px) {

    


    #cpassword_error
    {
        font-size: 12px;
    }


}

