{% extends "login.html" %}
{% block style_link %}
<!-- <link rel="stylesheet" href="{{url_for('static',filename='forgot_password_styles.css')}}"> -->
{% endblock %}
{% block title %}Forgot Password - AutoValue{% endblock %}
{% block form_content %}

<div class="form-container">

    
    <form method="POST" onsubmit="return validate()" name="form">
        <h3>Forgot Password</h3>
        <h4>Enter your email and follow the instructions.</h3>
        <input class="box" type="text" placeholder="Email" name="email" id="email">
        <div id="email_error">Please enter your email.</div>
        <button class="btn" type="submit">Send Mail</button>
    </form>
</div>
<div class="footer">
    AutoValue | All Rights Reserved © 2024
</div>
<div id="flash-messages" style="display: none;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="error-message">
        <script>
            // Call your JavaScript function here
            function handleFlashError(category, message) {
                // Your JavaScript function logic to handle the flash error
                // Update the corresponding error div based on the category
                if (category === 'error' && message.toLowerCase().includes('email')) {
                    document.getElementById('email_error').innerText = message;
                    document.getElementById('email').style.border = "1px solid red"

                    document.getElementById('email_error').style.display = "block"
                    return false
                } else if (category === 'error' && message.toLowerCase().includes('password')) {
                    document.getElementById('password_error').innerText = message;
                    document.getElementById('password').style.border = "1px solid red"

                    document.getElementById('password_error').style.display = "block"
                    document.getElementById('forgotPassword').style.display = 'block'
                    return false
                }
            }
            handleFlashError("{{ category }}", "{{ message }}");
        </script>
    </div>
    {% endif %}
    {% endfor %}
    {% endwith %}
</div>
<script>
    function closeFlash() {
        flash = document.getElementById('myFlash')
        flash.style.display = 'none'
    }


    var email = document.forms['form']['email']
    console.log(email.id)
    var email_error = document.getElementById('email_error');

    email.addEventListener("input", email_verify);

    function email_verify() {
        console.log("email ver called")
        if (email.value.length >= 1) {
            email_error.style.display = "none"
            email.style.border = "1px solid silver"
            return true
        }
    }

    function validate() {
        if (email.value.length < 1) {


            // email.focus()
            email.style.border = "1px solid red"
            email_error.style.innerText = "Please enter your email."
            email_error.style.display = "block"
            return false
        }
    }


</script>
{% endblock %}