{% extends "forgot_password.html" %}
{% block style_link %}
<link rel="stylesheet" href="{{url_for('static',filename='reset_password_styles.css')}}">
{% endblock %}
{% block title %}Reset Password - AutoValue{% endblock %}

{% block handle_flash %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == "reset-success" %}
<div class="flash-container" id="myFlash">

    <div class="flash-message success">
        {{ message }} You can now <a href="/login" style="color: white;">Log in.</a> <span><button onclick="closeFlash()" class="flash-btn-success">X</button></span>
    </div>

</div>
{% elif category == "reset-error" %}
<div class="flash-container" id="myFlash">

    <div class="flash-message error">
        {{ message }} Go to <a href="/forgot-password" style="color: white;">Forgot Password</a> again. <span><button onclick="closeFlash()" class="flash-btn-error">X</button></span>
    </div>

</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}


{% block form_content %}
<div class="form-container">

    
    <form method="POST" onsubmit="return validate()" name="form">
        <h3>Reset Password</h3>
        <input class="box" type="password" placeholder="New Password" name="password" id="password">
        <div id="password_error">Password should be more than 5 characters.</div>
        <input class="box" type="password" placeholder="Confirm Password" name="cpassword" id="cpassword">
        <div id="cpassword_error">Confirm Password should be more than 5 characters.</div>
        <button class="btn" type="submit">Reset</button>
    </form>
</div>

    <div class="footer">
        AutoValue | All Rights Reserved © 2024
    </div>


<div id="flash-messages" style="display: none;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="error-message">
        <script>
            // Call your JavaScript function here
            function handleFlashError(category, message) {
                // Your JavaScript function logic to handle the flash error
                // Update the corresponding error div based on the category
                if (category === 'error' && message.toLowerCase().includes('cpassword')) {
                    document.getElementById('cpassword_error').innerText = message;
                    document.getElementById('cpassword').style.border = "1px solid red"

                    document.getElementById('cpassword_error').style.display = "block"
                    // document.getElementById('forgotPassword').style.display = 'block'
                    return false
                }
            }
            handleFlashError("{{ category }}", "{{ message }}");
        </script>
    </div>
    {% endif %}
    {% endfor %}
    {% endwith %}
</div>
<script>
    function closeFlash() {
        flash = document.getElementById('myFlash')
        flash.style.display = 'none'
    }


    var password = document.forms['form']['password']
    var cpassword = document.forms['form']['cpassword']
    var password_error = document.getElementById('password_error');
    var cpassword_error = document.getElementById('cpassword_error');

    cpassword.addEventListener("input", cpassword_verify);
    password.addEventListener("input", password_verify);

    function cpassword_verify() {
        console.log("email ver called")
        if (cpassword.value.length > 5) {
            cpassword_error.style.display = "none"
            cpassword.style.border = "1px solid silver"
            return true
        }
    }
    function password_verify() {
        if (password.value.length > 5) {
            password_error.style.display = "none"
            password.style.border = "1px solid silver"
            return true
        }
    }

    function validate() {
        if (password.value.length <= 5) {


            // email.focus()
            password.style.border = "1px solid red"

            password_error.style.display = "block"
            return false
        }
        if (cpassword.value.length <= 5) {


            // email.focus()
            cpassword.style.border = "1px solid red"

            cpassword_error.style.display = "block"
            return false
        }

        if (password.value.trim() !== cpassword.value.trim()) {
            cpassword_error.innerText = "Passwords do not match."
            cpassword_error.style.display = "block"
            cpassword.style.border = '1px solid red'
            return false
        }

        return true

    }
</script>
{% endblock %}
