{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='signup_styles.css')}}">{% endblock %}
{% block title %}Sign Up - AutoValue{% endblock %}
{% block content %}
<div class="header" style="text-align: center;">
    <a href="/" class="logo"><span>Auto</span>Value</a>
</div>
{% block handle_flash %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == "success" %}


<div id="myFlash" class="flash-container">
    <div class="flash-message success">
        {{ message }} <span><button onclick="closeFlash()" class="flash-btn-success">X</button></span>
    </div>

</div>
{% elif category == "email-error" %}
<div class="flash-container" id="myFlash">

    <div class="flash-message error">
        {{ message }} <span><button onclick="closeFlash()" class="flash-btn-error">X</button></span>
    </div>

</div>

{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}

<div class="signup-form-container">


    <form method="POST" onsubmit="return validate()" name="form">
        <h3>Sign Up</h3>
        <input class="box" type="text" placeholder="Full Name" name="fullName" id="fullName">
        <div id="full_name_error">Invalid format.</div>
        <input class="box" type="text" placeholder="Email" name="email" id="email">
        <div id="email_error"></div>
        
        <button class="btn" type="submit">Submit</button>
    </form>
</div>
<div id="flash-messages" style="display: none;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="error-message">
        <script>
            // Call your JavaScript function here
            function handleFlashError(category, message) {
                // Your JavaScript function logic to handle the flash error
                // Update the corresponding error div based on the category
                if (category === 'error' && message.toLowerCase().includes('email')) {
                    document.getElementById('email_error').innerText = message;
                    document.getElementById('email').style.border = "1px solid red"

                    document.getElementById('email_error').style.display = "block"
                    return false
                } else if (category === 'error' && message.toLowerCase().includes('password')) {
                    document.getElementById('password_error').innerText = message;
                    document.getElementById('password').style.border = "1px solid red"

                    document.getElementById('password_error').style.display = "block"
                    return false
                }
            }
            handleFlashError("{{ category }}", "{{ message }}");
        </script>
    </div>
    {% endif %}
    {% endfor %}
    {% endwith %}
</div>
<div class="footer">
    AutoValue | All Rights Reserved © 2024
</div>

<script>
    var email = document.forms['form']['email']
    var password = document.forms['form']['password']
    var fullName = document.forms['form']['fullName']
    var cpassword = document.forms['form']['cpassword']
    console.log(email.id)

    var email_error = document.getElementById('email_error');
    var password_error = document.getElementById('password_error');
    var full_name_error = document.getElementById('full_name_error');
    var cpassword_error = document.getElementById('cpassword_error');

    email.addEventListener("input", email_verify);
    password.addEventListener("input", password_verify);
    fullName.addEventListener('input', fullname_verify)
    cpassword.addEventListener('input', cpassword_verify)

    function fullname_verify(event) {
        if (event.target.value.length > 6) {
            full_name_error.style.display = 'none'
            fullName.style.border = '1px solid silver'
            return true
        }
    }

    function email_verify() {
        console.log("email ver called")
        if (email.value.length >= 4) {
            email_error.style.display = "none"
            email.style.border = "1px solid silver"
            return true
        }
    }
    function password_verify() {
        if (password.value.length > 5) {
            password_error.style.display = "none"
            password.style.border = "1px solid silver"
            return true
        }
    }

    function cpassword_verify() {
        if (cpassword.value.length > 5) {
            cpassword_error.style.display = "none"
            cpassword.style.border = '1px solid silver'
            return true
        }
    }

    function validate() {
        function validateFullName() {

            if (fullName.value.length <= 6) {
                fullName.style.border = '1px solid red'
                full_name_error.innerText = 'Full Name should be more than 6 characters.'
                full_name_error.style.display = "block"
                return false
            }
            else if (fullName.value.trim().indexOf(' ') === -1) {
                // No space found in the full name
                fullName.style.border = '1px solid red';
                full_name_error.innerText = 'Invalid format.(Must contain a space)'
                full_name_error.style.display = "block";
                return false;
            }
        }

        if (validateFullName() === false) {
            return false
        }

        function validateEmail() {
            var email = document.getElementById("email");
            var email_error = document.getElementById("email_error");

            // Regular expression for a basic email validation
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email.value)) {
                if (email.value.length < 1) {
                    email.style.border = "1px solid red";
                    email_error.innerHTML = "Email Address cannot be empty."
                    email_error.style.display = "block";

                    return false;
                }
                else if (!emailRegex.test(email.value)) {
                    // Invalid email format
                    email.style.border = "1px solid red";
                    email_error.innerHTML = "Invalid Email Address."
                    email_error.style.display = "block";
                    return false;
                }
            }

            else {
                // Valid email format
                email.style.border = ""; // Reset border to default
                email_error.style.display = "none"; // Hide the error message
                return true;
            }
        }
        if (validateEmail() !== true) {
            return false
        }

        function validatePassword() {
            if (password.value.length <= 5) {


                // email.focus()
                password.style.border = "1px solid red"

                password_error.style.display = "block"
                return false
            }
            else {
                return true
            }
        }
        if (validatePassword() !== true) {
            return false
        }
        console.log('above c pass')
        function validateConfirmPassword() {
            console.log('cpass ver called')
            if (cpassword.value.length <= 5) {
                cpassword.style.border = "1px solid red"
                cpassword_error.innerHTML = "Confirm Password should be more than 5 characters."
                cpassword_error.style.display = "block"
                return false;
            }

            else if (cpassword.value.trim() !== password.value.trim()) {


                // email.focus()
                cpassword.style.border = "1px solid red"
                cpassword_error.innerHTML = "Passwords do not match."
                cpassword_error.style.display = "block"
                return false
            }
            else {
                cpassword.style.border = "1px solid silver"

                cpassword_error.style.display = "none"
            }
        }
        if (validateConfirmPassword() === false) {
            return false
        }

        return true
    }
</script>
{% endblock %}